<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Palworld.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Palworld.Properties.User>
            <setting name="EnablePal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PalColor" serializeAs="String">
                <value>855572735</value>
            </setting>
            <setting name="PalDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnableTreasure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TreasureColor" serializeAs="String">
                <value>855572735</value>
            </setting>
            <setting name="TreasureDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnableItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemColor" serializeAs="String">
                <value>855572735</value>
            </setting>
            <setting name="ItemDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnablePlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerColor" serializeAs="String">
                <value>855572735</value>
            </setting>
            <setting name="PlayerDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnableNote" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoteColor" serializeAs="String">
                <value>855572735</value>
            </setting>
            <setting name="NoteDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnableRelic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RelicColor" serializeAs="String">
                <value>855572735</value>
            </setting>
            <setting name="RelicDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnableTeleport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TeleportColor" serializeAs="String">
                <value>855572735</value>
            </setting>
            <setting name="TeleportDistance" serializeAs="String">
                <value>100</value>
            </setting>
        </Palworld.Properties.User>
    </userSettings>
</configuration>